header {
  background-color: rgb(63, 63, 63);
  padding: 40px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 0 20px;
  font-size: 30px;
}

nav a:hover {
  background-color: rgb(204, 204, 204);
  color: rgb(55, 64, 117);
  border-radius: 20px;
  padding: 20px;
}

.logo {
  width: 200px;
  height: 90px;
}
