:host {
  display: block;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  margin: 30px;
}
h2 {
  margin-bottom: 50px;
}

h1,
h2,
h3,
p {
  color: white;
}

.categoria {
  margin-bottom: 40px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.producto {
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 220px;
}

.producto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px white;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 8px;
  margin-bottom: 10px;
}
